.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolButtonWrapper {
    margin-top: 20px;
}

button.coolButton {
    background-color: red;
    color: white;
    display: block;
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCentre {
    display: block;
    margin: auto;
}

.btnCentre {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 60%;
}

.modal p {
    text-align: center;
}
